<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crime_mapping.sih2020.sos">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

<!--    //for camera-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

<!--    //for location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.crime_mapping.sih2020.sos.Sinch_Apps"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.crime_mapping.sih2020.sos.Sinch_MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <service
            android:name="com.crime_mapping.sih2020.sos.SinchService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name="com.crime_mapping.sih2020.sos.IncommingCallActivity" android:theme="@style/AppTheme.NoActionBar" android:excludeFromRecents="true" />


        <activity android:name="com.crime_mapping.sih2020.sos.MyCamera">

        </activity>

<!--        for location-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.crime_mapping.sih2020.sos.MapsActivity4"
            android:label="@string/title_activity_maps4"></activity>
        <activity android:name="com.crime_mapping.sih2020.sos.prime_contacts" />
        <activity
            android:name="com.crime_mapping.sih2020.sos.MapsActivity3"
            android:label="@string/title_activity_maps3" />
        <activity
            android:name="com.crime_mapping.sih2020.sos.MapsActivity2"
            android:label="@string/title_activity_maps2" />
        <activity android:name="com.crime_mapping.sih2020.sos.update_spot" />
        <activity android:name="com.crime_mapping.sih2020.sos.Login" />
        <activity android:name="com.crime_mapping.sih2020.sos.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.crime_mapping.sih2020.sos.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="com.crime_mapping.sih2020.sos.ProfileActivity" />
        <activity android:name="com.crime_mapping.sih2020.sos.LocationListActivity" />
        <activity android:name="com.crime_mapping.sih2020.sos.MapsActivity" />

        <service
            android:name="com.crime_mapping.sih2020.sos.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.crime_mapping.sih2020.sos.AboutActivity" />
    </application>
</manifest>